4schema.xsd

<?xml version="1.0" encoding="UTF-8"?>	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="details">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="employee" type="employeeType" maxOccurs="unbounded"></xsd:element>
	</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="employeeType">
	<xsd:sequence>
		 <xsd:element name="child" type="childType" minOccurs="0" maxOccurs="2"/>
	</xsd:sequence>
	</xsd:complexType>

</xsd:schema>