4schema.xsd

<?xml version="1.0" encoding="UTF-8"?>	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xsd:element name="details">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="employee" maxOccurs="unbounded">
			<xsd:complexType>
			<xsd:sequence>
			<xsd:element name="child" maxOccurs="2">
				<xsd:simpleType>
				<xsd:restriction base="xsd:string">
				<xsd:enumeration value="male"></xsd:enumeration>
				<xsd:enumeration value="female"></xsd:enumeration>
				</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>